
/dataset
/lightning_logs
/.vscode
*.pyc
*.out
/[0-9]*_*.py
.ipynb_checkpoints
ProgramingEnvTest/lightning_logs
ProgramingEnvTest/files/
/ProgramingEnvTest/mnist
/Ref/kidawara/scripts/mnist/data
/Ref/kidawara/scripts/mnist/sample.npz
.trash/trash